spring:
  application:
    name: who-am-ai
  data:
    mongodb:
      uri: ${MONGO_URI}
  ai:
    model:
      chat: google-genai
      embedding: google-genai
    google:
      genai:
        api-key: ${GEMINI_API_KEY}
        chat:
          options:
            models: [gemini-2.5-flash-lite, gemini-2.5-flash-lite-preview-09-2025]
            routing-models: [gemini-2.5-flash-lite, gemini-2.5-flash-lite-preview-09-2025]
            temperature: 0.75
            max-output-tokens: 8192
        embedding:
          api-key: ${GEMINI_API_KEY}
          options:
            model: text-embedding-004
            ./mtask-type: RETRIEVAL_DOCUMENT
        image:
          base-url: https://generativelanguage.googleapis.com
          generate-path: "/v1/models/{model}:generateContent"
          model-name: gemini-2.5-flash-image
          temperature: 0.3
          seed: 1234
          mime-type: image/jpeg
    vectorstore:
      mongodb:
        initialize-schema: false
        collection-name: resume_chunks
        index-name: vector_index
        path-name: content_embedding
        metadata-fields-to-filter: company,skills

server:
  port: 8080

logging:
  level:
    root: WARN
    org.springframework: WARN
    com.dd3ok.whoamai: debug

prompts:
  system-path: classpath:prompts/system.st
  routing-instruction-path: classpath:prompts/routing-instruction.st
  routing-template-path: classpath:prompts/routing-template.st
  rag-template-path: classpath:prompts/rag-template.st
  conversational-template-path: classpath:prompts/conversational-template.st

rate-limit:
  requests: 10   # 10분 동안 최대 10번 호출 허용
  minutes: 60  # 제한 시간 10분
  bypass-parameter:
    name: limit # 우회에 사용할 파라미터 이름
    value: no   # 우회 파라미터의 값
